body {
    background-color: #f0f0f0;
    padding: 20px;
}

.sala-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

    .sala-details h2 {
        margin-bottom: 20px;
    }

    .sala-details p {
        margin-bottom: 10px;
    }

.btn-reservar {
    background-color: #007bff;
    color: #ffffff;
    border: none;
}
