body {
    background-color: azure;
}

.navbar {
    background-color: gray; /* Cambia el color del menú */
}

.navbar-nav {
    padding-right: 20px; /* Ajustar el espacio entre los elementos del menú */
}

.nav-link {
    color: white; /* Color del texto */
}

/* Estilos de las cajas del catálogo */
.sala-container {
    margin-top: 55px;
}

.sala {
    border: 10px solid black; /* Bordes para las cajas */
    border-radius: 5px;
    padding: 55px;
    margin-bottom: 100px;
    text-align: center; /* Centrar el contenido */
}

@media (max-width: 900px) {
    .sala {
        padding: 100px; /* Aumentar el tamaño para dispositivos más pequeños */
    }
}
